@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$primary: rgb(123, 203, 246);
$secondary: white;
$body-bg: white;
$bs-body-bg: rgb(179, 253, 179);

.card-custom{
    background-color: rgb(188, 232, 255);
    border-radius: 20px;
}

.margin-top-custom{
    margin-top: 15rem;
}

@import '~bootstrap/scss/bootstrap.scss';

//$color: steelblue;

//.my-flix {
    //color: $color;
//}
