@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$primary: rgb(123, 203, 246);
$secondary: white;
$body-bg: white;
$bs-body-bg: rgb(179, 253, 179);

@import '~bootstrap/scss/bootstrap.scss';

.button-text {
    text-decoration: none;
    color: rgb(24, 118, 212);
    font-weight: bold;
  }
  
  .card-img {
    height: 70%; 
  }
  
  .navbar {
    background-color: white;
    border-radius: 0px 0px 1em 1em;
    margin-bottom: 2em;
  }
  
  .fav-button {
    margin-bottom: 2em;
  }

//$color: steelblue;

//.my-flix {
    //color: $color;
//}
